<%= link_to [:edit, namespace, @album].flatten, class: 'btn btn-info pull-right btn-small span', remote: true, data: {type: 'script'} do %>
  <i class="icon-edit icon-white"></i>
  <span>修改相册</span>
<% end %>
