<%- if @albums.size > 0 %>
  <h4>相册列表</h4>
  <ul>
    <% @albums.each do |album| %>
      <li>
        <%= link_to avatar_tag(album, 'm'), [@current_namespace, album].flatten %>
        <p><%= album.name %></p>
      </li>
    <% end %>
  </ul>
<% end %>

