<li data-courseid="16594">
  <%= link_to "courses/#{course.id}", title: course.name, class: 'mask' do %>
    <span class="course-thumb">
      <img src="https://udemy-images.s3.amazonaws.com/course/304x171/23881_d548_5.jpg">
      <%# image_tag course.cover.url(:m) %>
    </span>
    <span class="main-info">
      <h3>
        <span class="cell m">Become a Professional Photographer</span>
      </h3>
      <h4>
        <span style="background-image: url(https://udemy-images.s3.amazonaws.com/user/50x50/114312_a8bc.jpg);" class="thumb"></span>
        <span class="title ellipsis">Richard Riley</span>
        <span class="job-title ellipsis">Riley Productions Inc. President/Director</span>
      </h4>
    </span>
    <span class="course-info ellipsis">
      And start taking amazing photos of people, architecture and food + make money in the process!
    </span>
    <span class="bottom">
      <span class="subscribers"><b>175</b> students</span>
      <span class="rating">
        <span class="rating-small-stars">
          <span style="width:85%"></span>
        </span>
        <span class="review-count">(8)</span>
      </span>
      <span class="price"><span>$99</span></span>
    </span>
  <% end %>        
</li>
    