<!--
<div class="btn-group">
  <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
  上传课
  <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%- @courses.each do |course| %>
      <li>
        <%= link_to course.name, new_webclass_webclass_course_medium_path(@current_webclass, course) %>
      </li>
    <% end %>
  </ul>
</div>
-->

<h4>课件分类</h4>
<%= tabs_tag(:namespace => :webclass_courses_nav, :open_tabs => {:class => "nav nav-tabs nav-stacked"}, :builder =>     MenuTabBuilder) do |tab| %>
  <%- @courses.each do |course| %>
    <%= tab.try "course_#{course.id}",  course.name, webclass_webclass_course_media_path(@current_webclass, course) %>
  <% end %>
<% end %>

