<div class='left'>
  <%= link_to '发布课程', new_course_path, class: 'btn btn-primary' %>
</div>
<div class='right'>
  <div class="discover-courses-list-mask">
    <ul class="discover-courses-list" style="margin-left: 0px;">
        <%= render @courses %>
    </ul>
  </div>
</div>
