<div class='item row'>
  <div class='span1 avatar'>
    <%= link_to image_tag(question.user.avatar_url(:s)), question.user %>
  </div>
  <div class='span8'>
    <div class='row'>
      <div class='span6 title'>
        <%= link_to question.title, question %>
      </div>
      <div class='span2 pull-right text-right'>
        <%= timeago_tag question.created_at, lang: 'zh-CN' %>    
      </div>
    </div>
    <div class='row'>
      <%= render 'meta' %>
    </div>
  </div>
  <div class='span9 line'></div>
</div>