<%= render 'nav' %>
<div class='content clearfix'>
  <h3 class='span'>添加文件到<%= @folder.name %></h3>
  <%= link_to "上传完成", [:me, @folder], class: 'btn btn-info pull-right' %>
</div>
<%= render 'form' %>