<%= render 'nav' %>
<div class='row'>
  <div class='span5'>
    <h4>我参加的课程</h4>
    <%= render @courses %>
  </div>
  <div class='span5 pull-right'>
    <h4>我创建的课程</h4>
    <%= render partial: 'course', collection: current_user.own_courses %>
  </div>
</div>

