<h1>Listing me_plans</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @me_plans.each do |me_plan| %>
  <tr>
    <td><%= link_to 'Show', me_plan %></td>
    <td><%= link_to 'Edit', edit_me_plan_path(me_plan) %></td>
    <td><%= link_to 'Destroy', me_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plan', new_me_plan_path %>
