<div class="feature">
  <table>
    <tr>
      <td>
        <h3>
          <i class="icon-folder-open icon-2x pull-left"></i>
          资源共享
        </h3>
        <div class='clearfix' />
        <p>
          您可以随时随地与亿万好友分享您的学习资料， 包括您的文章、课件、书签、文档、图片、视频等等，也可以从好班级获得海量有价值的学习资料，海学网为您提供了便利的信息分享平台
        </p>
      </td>
      <td>      
        <h3 class="tile-title">
          <i class="icon-question-sign icon-2x pull-left"></i>
          在线问答
        </h3>
        <div class='clearfix' />
        <p>您可以海学网提出学习中的问题， 在这里， 你总能找到满意的答案， 你也可以解决其他学友的疑难问题从而获得积分和勋章，达到最佳的知识分享效果</p>
        
      </td>
    </tr>
    <tr>
      <td>
        <h3 class="tile-title">
          <i class="icon-group icon-2x pull-left"></i>
          群组交流
        </h3>
        <div class='clearfix' />
        <p>群组是一个实时的互动平台， 您创建或者加入群组， 找到与你兴趣相投的好友， 你们可以在线实时的进行沟通、交流， 你也可以发现并分享有价值的学习资料。</p>
      </td>
      <td>
        <h3 class="tile-title">
          <i class="icon-calendar icon-2x pull-left"></i>
          在线班级
        </h3>
        <div class='clearfix' />
        <p>您可以创建或者找到您的班级，您可以上传课件、布置作业、发布考试成绩、通过在线班级您还可以与学生家长保持紧密的联系</p>
      </td>
    </tr>
  </table>
</div>