<table>
  <tr>
    <td>
      <%= image_tag 'weibo_connect_24.png' %>
    </td>
    <td>
      <%= image_tag 'qq_connect_24.png' %>
   </td>
  </tr>
  <tr>
    <td>
      <%= image_tag 'renren_connect_22.png' %>
    </td>
    <td>
      <%= image_tag 'douban_connect_24.png' %>
    </td>
  </tr>
</table>