<div id='page-left'>
	<table>
		<tr>
			<td>
				<%= image_tag "group.jpg" %>
			</td>
			<td>
				<%= image_tag "class.png" %>
				<ul class="info clearfix">
					<li><span class="badge badge-info">12312</span> 个班级 </li>
					<li>
						<span class="badge badge-important">49222</span> 位老师 
					</li>
					<li>
						<span class="badge badge-warning">112121</span> 位家长
					</li>
					<li>
						<span class="badge badge-success">1212133</span> 位同学
					</li>
				</ul>
				
				<ul class="support clearfix">
					<li><a class="ipad"></a>ipad</li>
					<li><a class="iphone"></a>iphone</li>
					<li><a class="android"></a>android</li>
					<li><a class="window"></a>window</li>
				</ul>
			</td>
		</tr>
	</table>
	<br />
	<div class="content">
		<div class="marketing">
			<h3><i class="icon-book icon-large"></i> 资源共享</h3>
			<p>您可以随时随地与亿万学友分享您的学习资料， 包括您的笔记、书签、文档、图片、视频等等，也可以从海学网获得海量有价值的学习资料，海学网为您提供了便利的信息分享平台 </p>
		</div>
		
		<div class="marketing">
			<h3><i class="icon-book icon-large"></i> 资源共享</h3>
			<p>您可以随时随地与亿万学友分享您的学习资料， 包括您的笔记、书签、文档、图片、视频等等，也可以从海学网获得海量有价值的学习资料，海学网为您提供了便利的信息分享平台 </p>
		</div>

		<div class="marketing">
			<h3><i class="icon-question-sign icon-large"></i> 在线问答</h3>
			<p>您可以海学网提出学习中的问题， 在这里， 你总能找到满意的答案， 你也可以解决其他学友的疑难问题从而获得积分和勋章，达到最佳的知识分享效果</p>
		</div>
	</div>
	<div class="content">
		<div class="marketing">
			<h3><i class="icon-book icon-large"></i> 资源共享</h3>
			<p>您可以随时随地与亿万学友分享您的学习资料， 包括您的笔记、书签、文档、图片、视频等等，也可以从海学网获得海量有价值的学习资料，海学网为您提供了便利的信息分享平台 </p>
		</div>
		<div class="marketing">
			<h3><i class="icon-group icon-large"></i> 群组交流</h3>
			<p>群组是一个实时的互动平台， 您创建或者加入群组， 找到与你兴趣相投的好友， 你们可以在线实时的进行沟通、交流， 你也可以发现并分享有价值的学习资料。</p>
		</div>

		<div class="marketing">
			<h3><i class="icon-check icon-large"></i> 在线课堂</h3>
			<p>海学网拥有大量宝贵的教学视频课程， 涵盖了众多热门领域，您可以随时随地加入课程， 制定您的学习计划，同时，海学课程也会为您和老师之间构建良好的课后互动平台.</p>
		</div>

	</div>

</div>
<div id='page-right'>
	<%= render "form" %>
</div>
