<div class='span-l'>
	<%= image_tag 'index.jpg' %>
</div>

<div class='span-r pull-right'>
	<div class='login-form'>
		<%= render "form" %>
	</div>
</div>

<div clsss='clearfix'></div>

<div class='span-l'>
  <%= render 'features' %>
</div>

