<div class='span8'>
	<%= image_tag 'map.png' %>
</div>

<div class='span4 pull-right'>
	<div class='login-form'>
		<%= render "form" %>
	</div>
</div>

<div clsss='clearfix'></div>

<div class='span8'>
  <%= render 'features' %>
</div>

