<div class='span8'>
	<%= render 'player' %>
</div>

<div class='span4 pull-right'>
	<div class='login-form'>
		<%= render "form" %>
	</div>
</div>

<div clsss='clearfix'></div>

<div class='span9'>
  <%= render 'features' %>
</div>

