<div class='row'>
  <div class='span-l'>
    
    <table class='table table-bordered'>
      <thead>
        <tr class="success">
          <th width='50'>学生</th>
          <%- @current_webclass.courses.each do |course| %>
            <th><%= course.name %></th>  
          <% end %>
        </tr>
      </thead>
      <tbody id='mmeber-list'>
        <%= render partial: 'member', collection: @students %>
      </tbody>
    </table>

  </div>
  <div class='span-r pull-right'>
    <%= render 'exams' %>
  </div>
</div>