<div class='clearfix post'>
	<div class='header'>
		<h4><i class="icon-large <%= note.avatar %>"></i>  <%= link_to(note.title, note_path(note)) %> </h4>
		<div class="summary">
			<%= truncate(note.body, :length => 240, :omission => '......') %>
		</div>
	</div>
	<div class="footer clearfix">
	</div>
</div>
