<%= render 'me/media/nav' %>
<%= render 'form' %>
<table class='table content'>
  <thead>
    <tr>
      <th></th>
      <th>名称</th>
      <th>数量</th>  
      <th>操作</th>
    </tr>
  </thead>
  <tbody id='folder-list'>
    <%= render @folders %>
  </tbody>
</table>
