<div class='row'>
  <div class='span-l'>
    <h4>
      目录管理
      <%= render partial: 'shared/media/add', locals: {namespace: [:user, current_user], folders: @folders} %>
    </h4>
    <div class='folder-list'>
      <%= render 'list' %>
    </div>
    <%= render 'form' %>
  </div>

  <div class='span-r pull-right'>
    <%= render 'shared/folders/list' %>
  </div>
</div>
