<%= tabs_tag(:namespace => :media_nav, :open_tabs => { :id => "post_nav", :class => "nav nav-tabs" }, :builder => MenuTabBuilder) do |tab| %>
  <%= tab.media raw("我的文件"), me_folders_path %>
  <%= tab.folder raw("目录管理"), admin_me_folders_path %>
  <div class="btn-group pull-right">
    <button data-toggle="dropdown" class="btn btn-success dropdown-toggle">添加文件 <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><b>请您先选择目录</b></li>
      <% current_user.folders.each do |folder| %>
        <li><%= link_to folder.name, new_me_folder_medium_path(folder) %></li>
      <% end %>
      <!-- dropdown menu links -->
    </ul>
  </div>
<% end %>
