<div class='left'>
  <%= render 'users/profile' %>
  <%= render 'me/menu' %>
</div>
<div class='right'>
  <%= render 'nav' %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>LOGO</th>
        <th>名称</th>
        <th>当前版本</th>  
        <th>文件大小</th>
        <th>下载地址</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>
    <%= render @media %>
  </table>
</div>
