<!--
<div class="btn-group">
  <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
  上传课
  <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%- @courses.each do |course| %>
      <li>
        <%= link_to course.name, new_webclass_webclass_course_medium_path(@current_webclass, course) %>
      </li>
    <% end %>
  </ul>
</div>
-->


