<div class='row'>
  <div class='span-l'>
    <h4><%= @current_group.current_term.name %></h4>
    <table class='table table-bordered'>
      <thead>
        <tr class="success">
          <th width='80'>课程表</th>
          <th>周一</th>  
          <th>周二</th>
          <th>周三</th>
          <th>周四</th>
          <th>周五</th>
          <th>周六</th>
        </tr>
      </thead>
      <tbody id='slot-list'>
        <%= render partial: 'section', collection: @sections %>
      </tbody>
    </table>
    <%= render 'form' %>

  </div>
  <div class='span-r pull-right'>
    <%= render 'group/settings/menu' %>
  </div>
</div>
