<div class='row'>
  <div class='span-l'>
    <h4>
      目录管理
      <%= render 'shared/media/show_btn' %>
    </h4>
    <div ='folder-list'>
      <%= render 'shared/folders/admin_list' %>
    </div>
    <%= render 'shared/folders/form' %>
  </div>

  <div class='span-r pull-right'>
  </div>
</div>
