[submodule "app/assets/javascripts/bootstrap-multiselect"]
	path = app/assets/javascripts/bootstrap-multiselect
	url = git@github.com:davidstutz/bootstrap-multiselect.git
[submodule "app/assets/javascripts/jquery.autosize"]
	path = app/assets/javascripts/jquery.autosize
	url = git@github.com:melvynhills/jquery.autosize.git
[submodule "lib/assets/file_uploader"]
	path = lib/assets/file_uploader
	url = git@github.com:valums/file-uploader.git
