[submodule "app/assets/javascripts/bootstrap-multiselect"]
	path = app/assets/javascripts/bootstrap-multiselect
	url = git@github.com:davidstutz/bootstrap-multiselect.git
[submodule "app/assets/javascripts/jquery.autosize"]
	path = app/assets/javascripts/jquery.autosize
	url = git@github.com:melvynhills/jquery.autosize.git
[submodule "lib/assets/file_uploader"]
	path = lib/assets/file_uploader
	url = git@github.com:valums/file-uploader.git
[submodule "lib/assets/tag-it"]
	path = lib/assets/tag-it
	url = git@github.com:aehlke/tag-it.git
[submodule "lib/assets/jScroll"]
	path = lib/assets/jScroll
	url = git@github.com:wduffy/jScroll.git
[submodule "lib/assets/jQuery-Timepicker-Addon"]
	path = lib/assets/jQuery-Timepicker-Addon
	url = git@github.com:trentrichardson/jQuery-Timepicker-Addon.git
[submodule "lib/sharp_social"]
	path = lib/sharp_social
	url = git@github.com:SharpV/sharp_social.git
