<h4 class='border'>推荐班级<h4>
<ul>
  <%- @hot_webclasses.each do |group| %>
    <li>
      <%= link_to avatar_tag(group), group %>
      <p><%= link_to group.name, group %></p>
    </li>
  <% end %>
</ul>