<div class='row'>
  <div class='span-l'>
    <h4>写信</h4>
    
    <%= render 'form' %>

  </div>
  <div class='span-r pull-right'>
    <%= render 'menu' %>
  </div>
</div>

<%- content_for :left do %>
  <h3><%= @current_webclass.name %></h3>
<% end %>