<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
      文件上传
      <%= link_to [@current_namespace, :media].flatten, class: "btn btn-success btn-small pull-right" do %>
        <i class="icon-ok icon-white"></i>
        <span>完成上传</span>
      <% end %>
    </h4>
    <%= render 'shared/file_upload_form', record: @medium, url: [@current_namespace, @folder, :media].flatten %>
  </div>
  <div class='span-r pull-right'>
    <%= render 'tags' %>
  </div>
</div>
