<%= form_for(@me_notification) do |f| %>
  <% if @me_notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@me_notification.errors.count, "error") %> prohibited this me_notification from being saved:</h2>

      <ul>
      <% @me_notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
