<h1>Listing me_settings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @me_settings.each do |me_setting| %>
  <tr>
    <td><%= link_to 'Show', me_setting %></td>
    <td><%= link_to 'Edit', edit_me_setting_path(me_setting) %></td>
    <td><%= link_to 'Destroy', me_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Setting', new_me_setting_path %>
