<%- if @categories.size > 0 %>
  <h4>文章分类</h4>
  <table class='table'>
    <tbody>
      <%- @categories.each do |category| %>
        <tr>
          <td>
            <%=link_to [@current_namespace, category].flatten do %>
              <i class='icon icon-list'></i>
              <%= category.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

