<%- if @categories.size > 0 %>
  <h4>文章分类</h4>
  <table class='table'>
    <tbody>
      <%- @categories.each do |category| %>
        <tr>
          <td>
            <%= link_to category.name, [:user, @current_user, category] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

