<div class='row'>
    <div class='span-l'>
    <h4 class='border'>
      相册管理
      <%= render 'shared/images/show_btn' %>
    </h4>
    <div id='album-list'>
      <%= render 'shared/albums/admin_list' %>
    </div>
    <%= render 'shared/albums/form' %>
  </div>

  <div class='span-r pull-right'>
  </div>
</div>

