<div class="btn-group pull-right">
  <button data-toggle="dropdown" class="span btn btn-info dropdown-toggle">添加话题 <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><b>请您先选择分类</b></li>
    <%- @group.categories.each do |category| %>
      <li><%= link_to category.name, new_group_group_category_topic_path(@group, category) %></li>
    <% end %>
  </ul>
  <button data-toggle="dropdown" class="span btn btn-success dropdown-toggle">添加文件 <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><b>请您先选择目录</b></li>
    <%- @group.folders.each do |folder| %>
      <li><%= link_to folder.name, new_group_group_folder_medium_path(@group, folder) %></li>
    <% end %>
  </ul>
</div>