<h4 class='border'>热点资源</h4>
<ul>
  <%- @hot_media.each do |medium| %>
    <li class='dashed'>
      <span class="badge badge-success"><%= medium.downloads_count %></span>
      <%= link_to medium.title, [:group, medium.mediumable, medium] %>
    </li>
  <% end %>
</ul>