<h4 class='border'>热点话题</h4>
<ul>
  <%- @hot_topics.each do |post| %>
    <li class='dashed'>
      <span class="badge badge-info"><%= post.comments_count %></span>
      <%= link_to post.title, [:group, post.postable, post] %>
    </li>
  <% end %>
</ul>