<%- if @current_group.is_class %>
  <h4 class='border'>
    班主任
  </h4>
  <%= user_avatar_tag(@current_group.creator, 'm') %>
  <h4 class='border'>
    任课老师
  </h4>
  <%- @current_group.teachers.each_with_index do |teacher, index| %>
    <div class="<%= index.odd? ? 'pull-right' : '' %>">
      <%= user_avatar_tag(teacher.user, 'm') %>
      <p><%= teacher.name %></p>
    </div>  
  <% end %>

<% else %>

<% end %>