<div class="tabbable">
	<%= tabs_tag(:namespace => :group_menu, :open_tabs => {:id => "group_menu", :class => "nav nav-tabs" }, :builder => MenuTabBuilder) do |tab| %>
	  <%= tab.index t('Activity'),group_path(@current_group) %>
	  <%= tab.document t('Document'), group_documents_path(@current_group) %>	
	<% end %>
</div>