 <table class='meta table'>
  <tbody>
   <tr>
     <td><span class="badge badge-success">2</span></td> <td>位老师</td>
   </tr>
   <tr>
     <td>
       <span class="badge badge-success">4</span> 
     </td>
     <td>位家长</td>
   </tr>
   <tr>
     <td>
       <span class="badge badge-success">8</span>
     </td>
     <td>
       位同学
     </td>
   </tr>
   <tr>
     <td>
       <span class="badge badge-info">6</span> 
     </td>
     <td>
       个话题
     </td>
   </tr>
   <tr>
     <td>
       <span class="badge badge-info">1</span> 
     </td>
     <td>
       个相册
     </td>
   </tr>
   <tr>
     <td>
       <span class="badge badge-info">10</span>
     </td>
     <td>
       个课件
     </td>
   </tr>
   <tr>
     <td>
       <span class="badge badge-warning">4</span>
     </td>
     <td>
       次访问
     </td>
   </tr>
 </tbody>
</table>
