<div class="tabbable tabs-left">
  <%= tabs_tag(:namespace => :group_nav, :open_tabs => {:class => "nav nav-tabs"}, :builder => MenuTabBuilder) do |tab| %>
  <% current_user.groups.each do |group| %>
    <%= tab.try("group_#{group.id}", group.name, group) %>
  <% end %>
  <%= tab.new_group "创建班级", new_group_path %>
  <% end %>
</div>
