<ul class="nav nav-tabs">
	<li class="active">
		<%= link_to "最新", "" %>
	</li>
	<li>
		<%= link_to "本周热点", "" %>
	</li>
	<li>
		<%= link_to "本月热点", "" %>
	</li>
	<li>

		<%= link_to "年度热点", "" %>
	</li>
</ul>