<%- if @readings.size > 0 %>
  <h4 class='border'>最近来访</h4>
<% end %>
<ul class='inline'>
  <%- @readings.each do |reading| %>
    <li>
      <%= link_to avatar_tag(reading.user, 's'), reading.user %>
      <p><%= reading.user.name %></p>
    </li>
  <% end %>
</ul>
