<div class='span2'>	
  <%= render "shared/grades_nav" %>		
</div>
<div class='span8'>	
  <>
 <%= render 'menu'%>

  
</div>
<div class='span2'>	
  <h4>推荐班级</h4>
  <div class="tabbable tabs-left">
  </div>
</div>
