<div class='row'>
  <div class='span-l'>
    <%- if @apply_members.size > 0 %>
      <h4>有<%= @apply_members.size %>位成员申请加入</h4>
      <%= render 'apply_members' %>
    <% end %>
    <%= render 'activities' %>
  </div>
  <div class='span-r pull-right'>
    <%= render 'meta' %>
  </div>
</div>
