<div class="btn-group pull-right clearfix">
	<span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>新建...</span>
                    <%= link_to "新建", :new_my_post_path %>
                </span>
</div>