<%- if @groups.size > 0 %>
  <h4>我的群组</h4>
  <ul>
    <%- @groups.each do |group| %>
      <li>  
        <%= link_to avatar_tag(group, 'm'), group, target: '_blank' %>
      </li>
    <% end %>
  </ul>
<% end %>