<div id='profile_info' class='content'>
	<table>
		<tr>
			<td><%= image_tag avatar_url(current_user, :b) %></td>
		</tr>
		<tr>
			<td>
				<p><%= current_user.nickname %></p>
			</td>
		</tr>
	</table>
</div>
