<div id='profile_info' class='thumbnail'>
	<table>
		<tr>
			<td><%= image_tag current_user.avatar_url(:b) || "http://placehold.it/128x128" %></td>
		</tr>
		<tr>
			<td>
				<p><%= current_user.nickname %></p>
			</td>
		</tr>
	</table>
</div>
