    <h4>
      您可能感兴趣的人
    </h4>
    <table class='table table-bordered'>
      <tbody id='member-list'>
        <form>
          <%= render partial: 'member', collecion: @remannd_users, as: member %>
        </form>
      </tbody>
    </table>