<%- if @webclasses.size > 0 %>
  <h4 class='border'>我的班级</h4>
  <ul>
    <%- @webclasses.each do |webclass| %>
      <li>  
        <%= link_to avatar_tag(webclass, 'm'), webclass, target: '_blank' %>
      </li>
    <% end %>
  </ul>
<% end %>