<%= link_to "发布作业", new_webclass_webclass_assignment_path(@current_webclass), class: 'btn btn-info' %>
<h4>科目列表</h4>
<%= tabs_tag(:namespace => :webclass_exams_nav, :open_tabs => {:class => "nav nav-tabs nav-stacked"}, :builder =>     MenuTabBuilder) do |tab| %>
  <%- @current_webclass.courses.each do |course| %>
    <%= tab.try "course_#{course.id}",  course.name, webclass_webclass_course_assignments_path(@current_webclass, course) %>
  <% end %>
<% end %>

