<script type="text/javascript">
$(document).ready(function($){
	$( "#user_province_code").bind("change", function() {          
		get_cities_by_province(this.value);
	});
});

function get_cities_by_province(province_code){
	jQuery.ajax({
		type: 'get', //提交的类型
		url: '/ajax/get_cities_by_province/'+province_code,//提交地址
		success: function(msg){ //回调方法
			$('#user_city_code').html(msg);
		}
	});
}
</script>
<div class='control-group string optional'>
	<%= f.input :province_code, :label => "省份", :collection => Province.all.collect{|p|[p.name, p.code]}, :required => true %>
	<%= f.input :city_code, :label => "城市", :collection => [["--Select--", ""]], :required => true %>
</div>
