<ul id="columns_nav" class="mega-menu right">
  <%- Column.all.each do |column| %>
    <li class='dc-mega-li'>
      <%= link_to [column, resource], class: 'dc-mega' do %>
        <%= column.name %>
        <span class="dc-mega-icon"></span>
      <% end %>
    </li>
  <% end %>
</ul>
