<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
<div id='upload_btn' class="row fileupload-buttonbar" style='display:none'>
  <div class="span7">
    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-info fileinput-button btn-small">
      <i class="icon-plus icon-white"></i>
      <span>添加文件</span>
      <input type="file" multiple="" name="files[]">
    </span>
    <button type="submit" class="btn btn-primary start  btn-small">
      <i class="icon-upload icon-white"></i>
      <span>开始上传</span>
    </button>
    <button type="reset" class="btn btn-warning cancel  btn-small">
      <i class="icon-ban-circle icon-white"></i>
      <span>取消上传</span>
    </button>
  </div>
  <!-- 
  <div class="span5">
    
    <div class="progress progress-success progress-striped active fade">
      <div class="bar" style="width:0%;"></div>
    </div>
  </div>
  The global progress bar -->
</div>
<!-- The loading indicator is shown during image processing -->
<div class="fileupload-loading"></div>
<br>
<!-- The table listing the files available for upload/download -->
<table class="table">
  <tbody id='media-list' class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
  </tbody>
</table>
  