<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload">
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td class="name"><span>{%=file.name%}</span></td>

    {% if (file.error) { %}
      <td class="error" colspan="1">
        <span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}
      </td>
    {% } 
    else if (o.files.valid && !i) { %}
      <td>
        <div class="progress progress-success progress-striped active">
          <div class="bar" style="width:0%;"></div>
        </div>
      </td>
      <td class="start" width='60'>
        {% if (!o.options.autoUpload) { %}
          <button class="btn btn-primary btn-small">
            <i class="icon-upload icon-white"></i>
            <span>上传</span>
          </button>
        {% } %}
      </td>
    {% } else { %}
      <td colspan="2"></td>
      {% } %}
      <td class="cancel" width='60'>{% if (!i) { %}
        <button class="btn btn-warning btn-small">
          <i class="icon-ban-circle icon-white"></i>
          <span>取消</span>
        </button>
      {% } %}
    </td>
  </tr>
  {% } %}
</script>

<%= render 'shared/file_upload_list' %>

<script type="text/javascript" charset="utf-8">
  
</script>
