<ul id="subjects_nav" class="mega-menu right">
  <%- Grade.child_grade.includes(:subjects).each do |grade| %>
    <li class='dc-mega-li'>
      <%= link_to [grade, resource], class: 'dc-mega' do %>
        <%= grade.name %>
        <span class="dc-mega-icon"></span>
      <% end %>
      <ul>
        <%- grade.subjects.each do |subject| %>
          <li>
            <%= link_to subject.name, [subject, resource] %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul> 