<table class="table">
	<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
		<tr>
			<td width="180">
  			<h4><%= link_to raw("<i class='icon icon-tag'></i> #{tag}"), tag_path(tag) %></h4>
			</td>
			<td>
				<%= link_to "订阅", subscribe_tag_path(tag), :class => "btn btn-small btn-info"%>
			</td>
		</tr>
	<% end %>	
</table>
