<%= f.input :domain_id, :label => '领域', :collection => Domain.all.collect{|d|[d.name, d.id]}, :include_blank => false %>
<script type="text/javascript">
    $(document).ready(function() {
      $("#tag_list").tagit({
				fieldName: "tag",
				availableTags: <%= raw(Post.tag_counts_on(:tags).collect{|t|t.name}) %>
			});
    });
</script>

<div class="control-group select optional">
	<label for="post_domain_id" class="select optional control-label">标签</label>
	<div class="controls">
		<ul id="tag_list">
		  <!-- Existing list items will be pre-added to the tags -->
			<%= f.object.tag_list.each do |tag| %>
		  	<li><%= tag %></li>
			<% end %>
		</ul>
		<p>您最多可输入5个标签， 其他用户可通过订阅标签的方式浏览您的分享 (可选)</p>
	</div>
</div>
