<div class='span-left'>			
	<%= render "users/menu" %>
</div>
<div class='span-right'>
	<%= render "users/profile" %>		
	<%= raw title_block "你可能感兴趣的人", users_path %>
	<br />
	<%= raw title_block "你可能感兴趣的小组", users_path %>
</div>
