<%= render 'questions/nav' %>
<div class='row'>
  <div class='span-l'>
    <ul id='questions'>
      <%= render partial: 'shared/questions/question', collection: @questions, locals: {truncate_size: 172} %>
    </ul>
    <div class='cleaxfix'>
      <%= paginate @questions %>
    </div>
  </div>
  <div class='span-r'>
    <h4 class='border'>答题专家</h4>
    <%# render 'qutop_users' %>
  </div>
</div>