<div id='page-right'>
	<%= render 'users/profile' %>
	<%= render 'users/menu' %>
</div>

<div id='page-left'>
	<div class="tabbable"> 
		<%= render 'activities/nav' %>
		<%= render 'activities/list' %>
	</div>
</div>