<div class='span2'>
	<%= render 'users/profile' %>
	<%= render 'users/menu' %>
</div>

<div class='span10'>
	<div class="tabbable"> 
		<%= render 'activities/nav' %>
		<%= render 'activities/list' %>
	</div>
</div>