<div class='span-left'>
	<h4>分类管理</h4>
	<%= sortable_tree @post_categories, :path => 'my/post_categories/sortable/base', :new_url => new_post_category_path, :max_levels => 5, :type => :sortable %>
</div>
<div class='span-right'></div>
	<%= render "my/posts/categories" %>
</div>
