<%= link_to [:new, :group, @current_group, :post], class: 'btn btn-success pull-right' do %>
  <i class="icon-plus icon-white"></i>
  <span>发表话题</span>
<% end %>
<br />
<h4 class='border clearfix'>标签分类</h4>
<ul>
  <%- @current_group.owned_tags.each do |tag| %>
    <li><%= link_to tag.name, group_group_posts_path(@current_group, tag: tag.name) %></li>
  <% end %>
</ul>