<div class='row'>
  <div class='span-l'>
    <ul>
      <%= render partial: 'shared/post', collection: @posts, locals: {namespace: [:webclass, @current_webclass], truncate_size: 172} %>
    </ul>
  </div>
  <div class='span-r pull-right'>
    <%= render 'right' %>
  </div>
</div>
