<div class='row'>
  <div class='span-l'>
    <ul class='post-list'>
      <%= render 'shared/posts/post', post: @post, truncate_size: nil %>
    </ul>
    <h4 class='border'>回复列表</h4>
    <ul id='comment-list' class='comment-list' class='unstyled'>
      <%= render partial: 'comments/comment', collection: @comments %>
    </ul>
    <%= render 'comments/form', record: @post %>
    <ul>
  </div>
  <div class='span-r pull-right'>
  </div>
</div>
