<script>
$(document).ready(function() {
	$('#input_post').elastic();
});
</script>
<div class="post_form">
	<%= simple_form_for [@current_group, @topic], :html => {:id => "post_form", :class => 'form-horizontal'} do |f| -%>	
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.input :body, :label => "Body", :input_html => { :width => 120, :height => 30, :id => "input_post" } %>
	<div class="actions">
		<%= f.submit "发布", :class=>'btn btn-primary'%>
		&nbsp;
		<button class="btn" type="reset">保存为草稿</button>
	</div>
	<% end %>
</div>
