<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
      [<%= @album.name %>] 文件上传
      <%= render 'shared/albums/show_btn' %>
    </h4>
    <%= render 'shared/file_upload_form', record: @image, url: [@current_namespace, @album, :images].flatten %>
  </div>
  <div class='span-r pull-right'>
  </div>
</div>
