<%= render 'me/posts/nav' %>
<div class='row'>
	<div class='span row'>
		<%= render "assets/fileupload", :local => {:object_new => @post}, :url => "/assets?id=#{@post.id};type=#{Post} " %>
	</div>
	<div class='span row'>
		<%= render 'form' %>
	</div>
</div>
