.left
  = render 'users/profile'
  = render 'me/menu'

.right
  = render 'me/media/nav'

  .clearfix
  %br
  %ol.sortable_tree{ data: { max_levels: 3, namespace: :me } }
    = build_server_tree @folders, :type => :sortable, namespace: :me 
/  %ol.sortable_tree{ :data => { :max_levels => 3, :rebuild_url => rebuild_me_categories_url } }
/    = build_server_tree @categories, :type => :sortable
  