<%- if @folders.size > 0 %>
  <h4>目录列表</h4>
  <table class='table'>
    <tbody>
      <%- @folders.each do |folder| %>
        <tr>
          <td>
            <%= link_to [@current_namespace, folder].flatten do %>
              <i class='icon icon-folder-close'></i>
              <span><%= folder.name %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
