<div class='left'>
  <%= render 'users/profile' %>
  <%= render 'me/menu' %>
</div>

<div class='right'>
  <div class="tabbable"> 
    <%= render 'me/activities/nav' %>
    <%= render 'me/activities/list' %>  
  </div>
</div>
