<div class='row'>
  <div class='span-l'>
    <h4 class='border'>群组动态</h4>
    <%= %>
  </div>
  <div class='span-r pull-right'>
    <%= link_to "创建群组", [:new, :user, current_user, :group], class: 'btn btn-success', disable_with: '请稍后...' %>
    <%- if @groups.size > 0 %>
      <h4>我的群组</h4>
      <ul>
        <%= render @groups %>
      </ul>
    <% end %>
  </div>
</div>
