<div class='row'>
  <div class='span-l'>
    <ul>
      <%= render @assignments %>
    </ul>

  </div>
  <div class='span-r pull-right'>
    <p>
      <%= link_to "发布作业", new_group_group_assignment_path(@current_group), class: 'btn btn-success pull-right' %>
    </p>
    <br />
    <h4>科目列表</h4>
    <%- if @courses.size > 0 %>
      <%= tabs_tag(:namespace => :group_courses_nav, :open_tabs => {:class => "nav nav-tabs nav-stacked"}, :builder =>          MenuTabBuilder) do |tab| %>
        <%- @courses.each do |course| %>
          <%= tab.try "course_#{course.id}",  course.name, group_group_course_assignments_path(@current_group,   course    ) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>