<table class='table'>
  <thead>
    <tr class="success">
      <th width='60'></th>
      <th>文件名</th>  
      <th width='60'>大小</th>
      <th width='100'>创建时间</th>
      <th width='100'>操作</th>
    </tr>
  </thead>
  <tbody id='media-list'>
    <%= render partial: 'shared/media/medium', collection: @media %>
  </tbody>
</table>
<%= paginate @media %>
