<table class='table content'>
  <thead>
    <tr>
      <th></th>
      <th>名称</th>
      <th>课时数量</th>  
      <th>操作</th>
    </tr>
  </thead>
  <tbody id='category-list'>
    <%= render @categories %>
  </tbody>
</table>
<%= render 'form' %>
