<p>
  <%= link_to "导入成绩单", new_group_group_exam_path(@current_group), class: 'btn btn-success pull-right' %>
</p>
<br />
<h4>我的成绩单</h4>
<%- if @current_group.exams.size > 0 %>
  <%= tabs_tag(:namespace => :group_exams_nav, :open_tabs => {:class => "nav nav-tabs nav-stacked"}, :builder =>     MenuTabBuilder) do |tab| %>
    <%- @current_group.exams.each do |exam| %>
      <%= tab.try "exam_#{exam.id}",  exam.title, group_group_exam_path(@current_group, exam) %>
    <% end %>
  <% end %>
<% end %>

