<%= tabs_tag(:namespace => :post_nav, :open_tabs => {:class => "nav nav-tabs" }, :builder => MenuTabBuilder) do |tab| %>
  <%= tab.index "我的纪录", me_posts_path %>
  <%= tab.category "分类管理", admin_me_categories_path %>

  <div class="btn-group pull-right">
    <button data-toggle="dropdown" class="span btn btn-info dropdown-toggle">
      创建纪录 
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><b>请您先选择分类</b></li>
      <%- @categories.each do |c| %>
        <li><%= link_to c.name, new_me_category_post_path(c) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

