<%= render '/user/posts/nav' %>
<div class='row'>
  <div class='span-l'>
    <ul>
      <%= render partial: 'shared/post', collection: @posts, locals: {namespace: [:user, @current_user], truncate_size: 172} %>
    </ul>
  </div>
  <div class='span-r pull-right'>
    <%= render 'user/posts/categories' %>
  </div>
</div>
