<div class='row'>
  <div class='span-l'>
    <ul>
      <%= render 'shared/posts/post', post: @post, namespace: [:user, @current_user], truncate_size: nil %>
    </ul>
    <h4 class='border'>回复列表</h4>
    <ul id='comment-list' class='unstyled'>
      <%= render partial: 'comments/comment', collection: @comments %>
    </ul>
      <%= render 'comments/form', record: @post %>
    
  </div>
  <div class='span-r pull-right'>
    slide
    <%# render 'slide' %>
  </div>
</div>
