<div class="main_left">
	<h3>
		<a target="_blank" href="/news">最新</a>
		<a target="_blank" class="more" href="/news">[更多]</a>
	</h3>
	<ul>
		<li>
			<p class="title"><a title="Artifactory  2.6正式发布，开源 Maven 仓库管理工具" target="_blank" href="/news/25019">Artifactory  2.6正式发布，开源 Maven 仓 ...</a></p>

		</li>
		<li>
			<p class="title"><a title="Visual Studio 11 RC 版将呈现小清新界面" target="_blank" href="/news/25020">Visual Studio 11 RC 版将呈现小清新界面</a></p>

		</li>
		<li>
			<p class="title"><a title="RubyStack 3.2.3发布，添加RVM和DevKit支持" target="_blank" href="/news/25018">RubyStack 3.2.3发布，添加RVM和DevKit支 ...</a></p>
		</li>
		<li>
			<p class="title"><a title="Node.js 爆 HTTP 安全漏洞，建议升级至 0.6.17 稳定版" target="_blank" href="/news/25002">Node.js 爆 HTTP 安全漏洞，建议升级至 0.6 ...</a></p>
		</li>
		<li>
			<p class="title"><a title="ASP.NET MVC4 Web API 堆栈将添加指定消息处理功能" target="_blank" href="/news/25010">ASP.NET MVC4 Web API 堆栈将添加指定消息 ...</a></p>
		</li>
	</ul>
</div>