<div class="main_left">
	<h3>
		<a target="_blank" href="/news">最新</a>
		<a target="_blank" class="more" href="/news">[更多]</a>
	</h3>
	<ul>
		<% @lastest_posts.each do |post| %>
		<li>
			<p class="title">
				<%= link_to post.title, post_path(post), :target => '_blank' %>
			</p>
		</li>
		<% end %>
	</ul>
</div>