<div class='span-left'> 
	<%= render 'nav' %>
	<%= render :partial => 'my/posts/post', :collection => @posts %>
</div>

<div class='span-right'>
	<%= raw title_block "领域", tags_path, "更多标签" %>
	<%= render 'shared/tag_nav' %>
</div>
