<div class='left'>

</div>
<div class='right'>  
  <section class='posts'>
    <%- if @posts.any? %>
      <%= render @posts %>
      <%= paginate @posts %>
    <%- else %>
      p No posts yet.
    <% end %>
  </section>
</div>


