html, body, p, table, dl, ul, section{
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.62;
    word-wrap: break-word;      /* IE 5.5-7 */
}

body{
    background-image: url("/assets/bg.jpg");
    background-position: center center;
    background-repeat: repeat;
    position: relative;
    background-color: #DEDDE3;
    padding-top: 50px; 
}

#site_nav{
    margin-left: 20px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #333;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #4FD687;
    text-decoration: none;
}

.brand img{
    height: 40px;
}

.simple_form textarea {
    height: 100px;
    width: 490px;
}

.left {
    width: 180px;
    float: left;
    min-height: 10px;
}

.right{
    width: 760px;
    float: left;
    margin-left: 20px;
    min-height: 10px;
}

#page-left{
    width: 660px;
    float: left;
    min-height: 10px;
}

#page-right{
    width: 280px;
    float: left;
    margin-left: 20px;
    min-height: 10px;
}

.brand h2{
    color:#01BDBC;
}
.navbar .brand {
    color: #777777;
    padding: 0px;
    text-shadow: null;
}

#page {
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-bottom: 1px solid #8A94A0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.11);
    min-height: 520px;
    padding: 7px;
}

.row {
    margin-left: -15px;
}

#user_menus{
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 166px;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    background-color: #eee;
    color: #333;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.affix {
    position: fixed;
}

#user_menus > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    text-decoration: none;
}

#user_menus > li > a > i.right{
    float: right;
    margin-right: 3px;
    margin-top: 2px;
    opacity: 0.25;
}
ul.nav-tabs li a{
    font-size: 14px;
    font-weight:normal;
}

.nav-list .nav-header {
    margin-left: -15px;
    font-size: 14px;
    text-shadow: none;	
    color: #fff;
    background-color: #0088CC;
}

.section-header h3, .page-header h3{
  color: #189B99;
  font-size: 16px;
}

ul{list-style: none;}

.feature .tile {
    background-color: transparent;
    border-radius: 6px 6px 6px 6px;
    padding: 4px;
    position: relative;
    text-align: center;
    height: 280px;
}

.feature .tile-image {
    height: 100px;
    width: 100px;
    margin: 1px;
    vertical-align: bottom;
}

.feature .tile-title {
    font-size: 16px;
    margin: 0;
}

.feature .span {
    width: 210px;
}

.feature .tile p {
    text-align: left;
    font-size: 13px;
    margin-bottom: 33px;
}

[class*="span"] {
    float: left;
    margin-left: 15px;
    min-height: 1px;
}

h3{
    color: #333;
    font-size: 18px;
}
h4{

    color: #333;
    font-size: 15px;
}

ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-left: 0px;
    padding-right: 5px;
}

.search-query input {
    border: 1px solid #DCE4EC;
}
.navbar-search .search-query{
    padding-top: 1px;
}

#app_download  td{
    color:#333; 
    text-align:left;
    word-wrap:break-word;
    word-break:break-all;
    width: 202px;
    padding: 10px;
    vertical-align: top;
}

.footer{
    font-size:12px;
    color:#333;
    border-top:#ddd 1px solid;
    padding-top:10px;
    margin-top:20px; 
    margin-bottom:20px; 
    line-height:22px; 
}
.footer a{color:#333;}
.footer span.left{float:left;}
.footer span.right{float:right;}

.video-js{
    margin-top: 5px;
    margin-bottom: 40px;
}

li.cover {
    float:left;
    width: 145px;
    height: 150px;
    overflow:hidden;
    background-color: #fff;
}

#jwplayer{
    width: 580px;
    height:500px;
    _height: 480px;
}
