.item .line{
    border-bottom: dashed 1px #ccc;
    margin-top: 1px;
    margin-bottom: 5px;
}

.item .row{
    margin-top: 5px;
    margin-bottom: 5px;
}

.item ul li{
    color: #666;
    font-size: 12px;
}

.item .avatar, .avatar {
    margin-top: 7px;
    margin-bottom: 7px;
}

.item .title{
    word-wrap:break-word;
    word-break:break-all;
    overflow:hidden;
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
    float: left;
    height: 25px;
}

div.field_with_errors .message {
    background-color: #B94A48;
    color: #ffe;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px 3px 3px 3px;
    padding: 4px;    
    font-size: 11px;
}

div.field_with_errors, div.ui-effects-wrapper {
  display: inline;
  float: left;
  margin-left: 10px;
}

.nav-tabs.nav-stacked > li > a {
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
}

.navbar-inner {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #111, #222);
}
.navbar .brand {
    color: #eee;
    text-shadow: none;
}
.nav-tabs a{
    text-decoration: none;
    text-shadow: none;
}

.navbar .nav > li > a {
    padding: 12px;
}

.navbar .nav > li > a {
    color: #ddd;
    float: none;
    text-decoration: none;
    text-shadow: none;
}

td{
    vertical-align: top;
}

a {
    color: #1ABC9C;
    text-decoration: none;
    transition: none;
}

.btn-custom { background-color: hsl(145, 62%, 68%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4"); background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4)); background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4); background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4)); background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4); background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4); background-image: linear-gradient(#cdf3dd, #7adfa4); border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33); -webkit-font-smoothing: antialiased; }

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 960px;
}

@media (min-width: 1000px) {    
    .span12, .container {   
    width: 960px;   
    }
}
.footer {
    background-color: transparent;
    border-top: 1px solid #E5E5E5;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
}