@import "vertical_menu";

ul#image-text-list{
    margin-top: 10px;
    @extend .clearfix;
}

ul li.hover{
    margin-bottom: 10px;
    background-color: #F8F9F4;
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    border: 1px solid #fff; 
}

ul li.hover:hover {
    background-color: #fff;
    border: 1px solid #CEF7C3; 
}

.tip {
    background-color: #FFEFC6;
    border-radius: 5px 5px 5px 5px;
    color: #735005;
    padding: 5px;
}

.dropdown-menu{
    min-width: 100px;
}

select {
    width: auto;
}

.nav {
    margin-bottom: 0px;
}

ul, ol {
    margin: 0px;
}

h4.border {
    @extend .clearfix;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    padding-top: 8px;
    color: #555;
}

h4.border span{
    font-size: 12px;
    font-weight: normal;
    color: #666;
}

ul#top_users{
  li{
    margin: 5px 0;
  }

  li .avatar{
      float:left;
      width: 50px;
      margin-right: 10px;
  }    
  
  li .content{
      float: none;
      overflow: hidden;
      width: auto;
      margin-left: 10px;
  }
}

li.dashed{
    border-bottom: dashed 1px #ccc;
    padding: 5px 0px;
    a {
        font-size: 12px;
    }
}

ul.image-text-list{
    clear:both;
    margin-top:10px;
}

ul.image-text-list li {
  width: 275px;
  height: 125px;
  margin-right: 10px;
  padding: 10px;
  overflow: hidden;
  float:left;
}

ul.image-text-list li .image{
    width: 60px;
    height: 60px;
    overflow: hidden;
    float:left;
    margin-top:10px;
}

ul.image-text-list li .content{
    float: none;
    overflow: hidden;
    width: auto;
    padding-left:10px;
}

ul li .item-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
    padding: 5px;
    margin-bottom:5px;
}

div.field_with_errors .message {
    background-color: #B94A48;
    color: #ffe;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px 3px 3px 3px;
    padding: 4px;    
    font-size: 11px;
}

div.field_with_errors, div.ui-effects-wrapper {
  display: inline;
  float: left;
  margin-left: 10px;
}

.nav-tabs.nav-stacked > li > a {
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
}

.navbar-inner {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #111, #222);
}
.navbar .brand {
    color: #eee;
    text-shadow: none;
}
.nav-tabs a{
    text-decoration: none;
    text-shadow: none;
}

.navbar .nav > li > a {
    padding: 12px;
    color: #ddd;
    float: none;
    text-decoration: none;
    text-shadow: none;
}

.navbar .nav > li > a:hover {
    color: #ccc;
}

.table thead tr.success > th {
    background-color: #DFF0D8;
}

.table th, .table td {
    vertical-align: middle;
}

a {
    color: #1ABC9C;
    text-decoration: none;
    transition: none;
}

#gallery a {
    margin-top: 10px;
}

a.tag {
    background-color: #E6EBED;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    color: #3E6D8E;
    font-size: 13px;
    padding: 3px 4px;
    font-weight: normal;
    text-decoration: none;
    white-space: nowrap;
}
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 960px;
}

@media (min-width: 1000px) {    
    .span12, .container {   
    width: 960px;   
    }
}
.footer {
    background-color: transparent;
    border-top: 1px solid #E5E5E5;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
}