.discover-courses-list {
    font-size: 0;
    margin-top: 5px;
}
.discover-courses-list.one-line {
    text-align: left;
}
.discover-courses-list li {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px 20px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 232px;
    z-index: 0;
}
.discover-courses-list li:hover .add-to-wishlist {
    display: inline-block;
}
.discover-courses-list li .wishlist-loader {
    display: block;
    margin-top: 6px;
    z-index: 2;
}
.discover-courses-list li .add-to-wishlist {
    display: none;
    margin: 10px;
    position: absolute;
    z-index: 1;
}
.discover-courses-list li .mask {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #000000;
    display: block;
    font-size: 14px;
    position: relative;
    vertical-align: top;
}
.discover-courses-list li .mask .course-thumb {
    border-radius: 2px 2px 0 0;
    display: block;
    position: relative;
}
.discover-courses-list li .mask .course-thumb > span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    //opacity: 0;
    position: absolute;
    top: 0;
    //transition: opacity 0.3s ease 0s;
    width: 100%;
}
.discover-courses-list li .mask .course-thumb > span > span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    //border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    left: 50%;
    margin: -15px 0 0 -60px;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
}
.discover-courses-list li .mask .main-info {
    background-color: #FFFFFF;
}
.discover-courses-list li .mask .main-info h3 {
    //background: linear-gradient(#6D7685, #434E60) repeat scroll 0 0 transparent;
    border-top: 1px solid #9AA0AB;
    color: #FFFFFF;
    display: table;
    font-size: 14px;
    height: 48px;
    line-height: 16px;
    margin: 0;
    padding: 8px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    width: 100%;
}
.discover-courses-list li .mask .main-info h4 {
    background: linear-gradient(#F8F9FA, #F0F3F6) repeat scroll 0 0 transparent;
    color: #999999;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    height: 52px;
    margin: 0;
    padding: 8px 7px;
}
.discover-courses-list li .mask .main-info h4 .thumb {
    background-size: contain;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 35px;
    margin-right: 5px;
    text-indent: -999em;
    width: 35px;
}
.discover-courses-list li .mask .main-info h4 .title {
    color: #555555;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
}
.discover-courses-list li .mask .main-info h4 .job-title {
    color: #777777;
    font-family: "Georgia";
    font-size: 12px;
    font-style: italic;
}
.discover-courses-list li .mask .course-info {
    -moz-box-sizing: content-box;
    color: #666666;
    display: none;
    max-height: 70px;
    overflow: hidden;
    padding: 2px 7px;
}
.discover-courses-list li .mask .bottom {
    background: linear-gradient(#FCFCFB, #F5F4F2) repeat scroll 0 0 transparent;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #E2E1E1;
    display: table;
    width: 100%;
}
.discover-courses-list li .mask .bottom > * {
    display: table-cell;
    padding: 5px;
    text-align: center;
}
.discover-courses-list li .mask .bottom .subscribers {
    border-right: 1px solid #E2E1E1;
    color: #777777;
    font-size: 12px;
}
.discover-courses-list li .mask .bottom .subscribers b {
    color: #BD4F18;
}
.discover-courses-list li .mask .bottom .rating {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #E2E1E1;
    color: #777777;
    font-size: 12px;
}
.discover-courses-list li .mask .bottom .rating .rating-small-stars {
    display: inline-block;
    float: none;
    margin: 4px 0 0;
}
.discover-courses-list li .mask .bottom .price {
    color: #6B9E3E;
    text-shadow: 0 1px 0 #FFFFFF;
}
.discover-courses-list li .mask:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.discover-courses-list li .mask:hover .main-info h3 {
    background: linear-gradient(#C36548, #B34D2E) repeat scroll 0 0 transparent;
    border-top: 1px solid #D69581;
}
.discover-courses-list li .more {
    bottom: 5px;
    color: #555555;
    display: block;
    height: 35px;
    line-height: 36px;
    margin: 0 auto 15px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 270px;
    z-index: -1;
}
.discover-courses-list li .more a {
    color: #5589B6;
    font-weight: bold;
}
.discover-courses-list li .more a:hover {
    color: #355672;
}
.discover-courses-list li .more.cotw {
    color: #BD4F18;
    font-weight: bold;
    text-transform: uppercase;
}
.discover-courses-list li .more.category, .discover-courses-list li .more.popular, .discover-courses-list li .more.search {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
}
