.entry{
	clear: both;
	width: 698px;
}

.entry .left{
	float:left;
	width: 60px;
}
.entry p{
	text-align: center;
}
.entry .right{
	float:right;
	width: 635px;
}
.entry .meta{
	clear: both;
	width: 635px;
	padding-bottom: 3px;
	margin-bottom: 10px;
	margin-top: 5px;
	border-bottom: 1px dashed #bbb;
}

.left p a.tag{
    background-color: #AAB5C3;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 10px;
    text-decoration: none;
		clear:both;
}

.entry .right .meta table{
	clear: both;
	width: 630px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.votecell {
	vertical-align: top;
	width: 60px;
}
.post-text {
	font-size: 107%;
	line-height: 130%;
	margin-bottom: 5px;
	margin-right: 5px;
	width: 660px;
}
.post-taglist {
	clear: both;
	margin-bottom: 10px;
}
.vote {
    text-align: center;
}