table.meta tr td:nth-child(1){
  text-align: right;
}
table.meta tr td:nth-child(2){
  text-align :left;
}

#image-text-list li {
  width: 275px;
  height: 125px;
  margin-right: 10px;
  padding: 10px;
  overflow: hidden;
  float:left;
}

#image-text-list li .image{
    width: 60px;
    height: 60px;
    overflow: hidden;
    float:left;
    margin-top:10px;
}

#image-text-list li .content{
    float: none;
    overflow: hidden;
    width: auto;
    padding-left:10px;
}


