.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
    margin-right: 2px;
}
.icon-chevron-right {
    background-position: -456px -72px;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("/assets/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}