body {
    padding-top: 70px;
    font-family: Tahoma,Verdana;
    font: 12px/162% Arial,Helvetica,sans-serif;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F0F0F0;
    background-image: url("/assets/backend.gif");
    background-origin: padding-box;
    background-position: -70% 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.nav-tabs > li > a, .nav-pills > li > a {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 960px;
}
.container .span-left{
    width: 675px
}
.container .span-right{
    width: 245px
}


.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    cursor: pointer;
}
.navbar .brand {
    margin-right: 10px;
    margin-left: 0px;
    padding: 0px;
    line-height: 40px;
}
.navbar-inner {
    min-height: 50px;
}

#user_menus, #account, #search-form{
    line-height:40px;
}
#search-form{
    margin-top: 10px;
}

.form-horizontal .control-label {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 80px;
    padding-top: 2px;
}

.form-horizontal .controls {
    margin-left: 120px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin: 0px;
}

.hero-unit {
    -moz-border-radius: 6px 6px 6px 6px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
    padding: 20px;
}
.hero-unit p {
    color: inherit;
    font-size: 14px;
    font-weight: 230;
    line-height: 15px;
}
.navbar-search .search-query{
    background-color: #eee;
}

.navbar .nav > li > a {
    color: #eee;
    float: none;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    cursor: pointer;
}

.nav-list .nav-header {
    margin-left: -15px;
    font-size: 14px;
    text-shadow: none;	
    color: #fff;
    background-color: #0088CC;
}

.nav-list > .active > a:active {
    background-color: #eee;
    color: #FFFFFF;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
    float: left;
    padding-top: 3px;	
}

.controls > .radio, .controls > .checkbox{
    padding-top: 3px;
}

label.radio{
    float:left;
    height:20px;
    padding-left:10px;
    margin-left:5px;
}
.btn-success span {
    color: #fff;
}
