ul.post-list, ul.comment-list{
  li .avatar{
      float:left;
      width: 60px;
      margin-right: 10px;
  }    
  
  li .content{
      float: none;
      overflow: hidden;
      width: auto;
      margin-left: 10px;
  }
}

li .content span.time{
    color: #999;
}

li .content .item span{
    margin-right: 10px;
    font-size: 12px;
}

.item_tag, .item_title {
    color: #333;
    font-weight:13px;
    font-weight:bold;
    display: inline;
    padding:5px;
    width: 100%;
}

.pagination span {
  border-bottom: 1px dotted #999999;
  float: left;
  overflow: hidden;
  padding: 10px 0;
}

span.tag a{
    font-size: 14px;
    padding: 5px;
}


li.tags{
    list-style: none;
    margin:10px;
    clear:both;
}