section.posts {
  .post{
    > header {
      h3 {
        font-size: 16px;
      }
    }
  
    > footer {
      div.left{
        width:200px;
        float: left;
      }
    
      div.right {
        width: 400px;
        float: right;
        text-align: right;
      }
    
      div.preview, a.edit {
        display: none;
      }
    }
  }
}