#new_post, #posts{
	width: 600px;
}

#posts .post{
	width: 600px;
}

#new_post .avatar{
	margin-bottom:10px; 
	float:left; 
	width: 100px;
}

#new_post .post_form{
	margin-bottom:10px; 
	float:left; 
	width: 480px;
}

#new_post .post_form textarea{
	width: 480px;
	height: 60px;
}


#new_post .post_form .actions{
	margin-bottom:10px; 
	float:left; 
	width: 480px;
	margin-top: 10px;
}



.post .footer .right .btn-group	.btn {
	    border-style: solid;
	    color: #333333;
	    cursor: pointer;
	    font-size: 11px;

}
	
.post .body {
    margin-top: 10px;
    padding: 0 10px;
		color: #333;
}

.clearfix {
	clear:both;
	display: block;
}

a, a:visited {
    color: #222222;
    text-decoration: none;
}

.new_post_label .new_post_label_icon {

}

.meta ul{
  list-style: none;
  margin: 0px;
  padding-left: 0em;
  padding-bottom: 7px;
  display: inline;
  color: #666;
	font-size: 9pt;
	border-bottom: 1px dashed #ccc;
	color: #999999;
	width: 100%;
}

.post-list .star {
    display: inline;
    float: left;
    margin-top: 20px;
    text-align: right;
    width: 100px;
}

.post-list .content {
    display: inline;
    float: left;
    font-size: 12px;
    padding: 10px 20px;
    width: 500px;
}

.post-list .date {
    display: inline;
    float: left;
    font-size: 12px;
    margin-top: 50px;
    width: 80px;
}
.post-list .user {
    display: inline;
    float: left;
    margin-top: 40px;
    width: 50px;
    text-align: center;

}
