@import "vertical_menu";

ul#questions{
  li .avatar{
      float:left;
      width: 60px;
      margin-right: 10px;
  }    
  
  li .content{
      float: none;
      overflow: hidden;
      width: auto;
      margin-left: 10px;
  }
}

