/*
  ref: http://soziev.com/themes/preview/theme_venera
*/

#index-page {
    width: 860px;
    padding: 20px;
}

.white-card {
    background-color: #F8F9F4;
    background-image: linear-gradient(#F8F9F4, #FDFDFB);
    box-shadow: 0 1px 4px 1px #B4B6A9, 2px 2px 1px 0 #FFFFFF inset;
    margin-bottom: 20px;
    padding: 20px;
    width: 400px;
}

.widget-filled {
    margin-bottom: 40px;
    padding: 20px;
    width: 350px;
    background-color: none;
}
