
.row {
    margin-left: -15px;
}

.span-l {
    width: 175px;
}

.span-r {
    width: 770px;
}

.span-r .span-l{
  width: 600px;
}

.span-r .span-r{
  width: 155px;
}

[class*="span"] {
    float: left;
    margin-left: 15px;
    min-height: 1px;
}