<%= javascript_include_tag "file_uploader/client/fineuploader-3.3.0" %>

<%= stylesheet_link_tag "file_uploader/client/fineuploader" %>

  <div id="fine-uploader"></div>
  <script>
    function createUploader() {
      var uploader = new qq.FineUploader({
        element: document.getElementById('fine-uploader'),
        request: {
          endpoint: '/me/media?authenticity_token=<%= form_authenticity_token %>'
        },
        text: {
          uploadButton: '<i class="icon-upload icon-white"></i> Test me now and upload a file'
        },
        template: '<div class="qq-uploader content">' +
                '<pre class="qq-upload-drop-area span12"><span>{dragZoneText}</span></pre>' +
                '<div class="qq-upload-button btn btn-success" style="width: 100px;background-color:#62C462">添加文件</div>' +
                '<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
                '<ul class="qq-upload-list content" style="margin: 10px; text-align: left;"></ul>' +
                '</div>',
        classes: {
          success: 'alert alert-success',
          fail: 'alert alert-error'
        },
        onSubmit: function(id, fileName) {
          uploader.setParams({
            authenticity_token: "<%= form_authenticity_token.to_s %>"
        });
      }
      });
    }
    window.onload = createUploader;
</script>