<div class='row'>
  <div class='span-l'>
    <h4><%= @current_webclass.current_term.name %></h4>
    
    <%= render 'list' %>

  </div>
  <div class='span-r pull-right'>
    <%= render 'webclass/settings/menu' %>
  </div>
</div>

<%- content_for :left do %>
  <h3><%= @current_webclass.name %></h3>
<% end %>