<div class='row'>
  <div class='span-l'>
    <h4>
      成员列表
    </h4>
    
    <%= render 'list' %>

  </div>
  <div class='span-r pull-right'>
    <%= render 'webclass/settings/menu' %>
  </div>
</div>
