<div class='left'>
  <%= render 'users/profile' %>
  <%= render 'me/menu' %>
</div>
<div class='right'>

  <%= render 'me/posts/nav' %>

  <div class="post-list">
    <%= render @posts %>
  </div>

</div>
