<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
      最新照片
      <%- if @current_user.id == current_user.id %>
        <%= render partial: 'shared/images/add_btn', locals: {namespace: [:user, current_user], albums: @albums} %>
      <% end %>
    </h4>
    <%= render partial: 'shared/albums/images', locals: {namespace: [:user, @current_user]} %>
  </div>
  <div class='span-r pull-right'>
    <%- if @current_user.id == current_user.id %>
      <%= link_to "相册管理", [:user, current_user, :albums], class: 'btn btn-info' %>
    <% end %>
    <%= render partial: 'shared/albums/list', locals: {namespace: [:user, @current_user], albums: @albums} %>
  </div>
</div>
