<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
      [<%= @album.name %>] 文件上传
      <%= link_to [:user, current_user, @album], class: "btn btn-success btn-small pull-right" do %>
        <i class="icon-ok icon-white"></i>
        <span>完成上传</span>
      <% end %>
    </h4>
    <%= render 'shared/file_upload_form', record: @image, url: [:user, current_user, @album, :images]%>
  </div>
  <div class='span-r pull-right'>
    <%= render 'user/albums/albums' %>
  </div>
</div>
