<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
      最新照片
      <%- if @current_user.id == current_user.id %>
        <%= render 'shared/images/add_btn' %>
      <% end %>
    </h4>
    <%= render 'shared/albums/images' %>
  </div>
  <div class='span-r pull-right'>
    <%- if @current_user.id == current_user.id %>
      <%= link_to "相册管理", [:user, current_user, :albums], class: 'btn btn-info btn-small' %>
    <% end %>
    <%= render 'shared/albums/list' %>
  </div>
</div>
