<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
       上传照片
      <%= render 'shared/albums/show_btn' %>
    </h4>
    <%= render 'form' %>
  </div>
  <div class='span-r pull-right'>

  </div>
</div>
