<div class='span-l'>
  <h4 class='border'>
    分类管理
    <%= link_to "返回", [:user, current_user, :posts], class: 'btn btn-success btn-small pull-right' %>
  </h4>
  <table class='table'>
    <tbody id='category-list'>
      <%= render @categories %>
    </tbody>
  </table>
  <%= render 'form' %>
</div>
