<h1>Listing me_notifications</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @me_notifications.each do |me_notification| %>
  <tr>
    <td><%= link_to 'Show', me_notification %></td>
    <td><%= link_to 'Edit', edit_me_notification_path(me_notification) %></td>
    <td><%= link_to 'Destroy', me_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notification', new_me_notification_path %>
