<%= render 'user/albums/nav' %>
<div class='row'>
  
  <div class='span-l'>
    <ul>
      <%- @images.each do |image| %>
        <li>
          <%= image_tag image.file_url(:s) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='span-r pull-right'>
    <%= render 'albums' %>
  </div>
</div>
