<div class='row'>
  <div class='span-l'>
    <h4 class='border'>最新上传</h4>
    <ul>
      <%- @images.each do |image| %>
        <li>
          <%= image_tag image.file_url(:s) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='span-r pull-right'>
    <%= render 'albums' %>
  </div>
</div>
