<ul id="account" class="nav pull-right">
	<%-if user_signed_in? %>
	<li>
		<%=link_to 'homepage', current_user %>
	</li>
	<li class='divider'></li>
	<li>
		<%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
	</li>
	<%- else %>
	<li>
		<%= link_to 'signup', new_user_registration_path %>
	</li>
	<li>
		<%= link_to 'signin', new_user_session_path %>
	</li>
	<% end %>
</ul>
