<footer class="footer" class='row'>
	<div class='container'>
		<span class="span gray-link" id="icp">
			Just Demo &nbsp;&nbsp;
			<a href="http://www.miibeian.gov.cn/"></a>
		</span>

		<span class="span pull-right">
		</span>
	</div>
</footer>
