<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "mage_tag('logo.png')", root_path, :class => 'brand' %>
			<%= render "layouts/nav" %>	
			<%= render "layouts/account" %>
		</div>
	</div>
</div>
